.badge {
    &.badge-primary {
        background: rgba($primary, 0.1);
        box-shadow: 0 1px 1px rgba($primary, 0.5);
        color: $primary;        
    }
    &.badge-skyblue{
        background-color: $cyan;
        color: $white;
    }
    &.badge-pink{
        background-color: $pink;
        color: $white;
    }
    &.badge-dark-transparent {
        background: $white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $gray-900;
        }
    }
    &.badge-secondary-transparent {
        background: $white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $secondary;
        }
    }
    &.badge-pink-transparent {
        background: $white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $pink;
        }
    }
    &.badge-secondary-transparent {
        background: $secondary-transparent;
        color: $secondary;
        border: 1px solid $secondary-100;
        i{
            color: $secondary;
        }
    }
    &.badge-success-transparent {
        background: $white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $success;
        }
    }
    &.badge-purple-transparent {
        background:$white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $purple;
        }
    }
    &.badge-warning-transparent {
        background:$white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $warning;
        }
    }
    &.badge-danger-transparent {
        background:$white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $danger;
        }
    }
    &.badge-info-transparent {
        background:$white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $info;
        }
    }
    &.badge-orange-transparent {
        background:$white;
        color: $gray-900;
        border: 1px solid $gray-200;
        i{
            color: $orange;
        }
    }
    &.badge-pink-transparent {
        background:$pink-transparent;
        color: $pink;
        border: 1px solid $pink-100;
        i{
            color: $pink;
        }
    }
    &.badge-outline{
        border: 1px solid $gray-200;
        color: $gray-900;
    }
}
@each $color, $value in $theme-colors {
    .badge {
        &.badge-#{$color} {
            background: #{$value};
            color: $white;
        }
        &.badge-soft-#{$color} {
            background: rgba($value, 0.1);
            color: $value;
        }
    }
}
.badge{
    padding: .25rem .45rem;
    font-weight: $font-weight-medium;
    letter-spacing: 0.5px;
    border-radius: $border-radius-lg;
    &.badge-xs {
        font-size: 10px;
        font-weight: $font-weight-medium;
        padding: 0px 4px;
        line-height: 15px;
        min-height: 17px;
        min-width: 17px;
    }
    &.badge-sm {
        font-size: 10px;
        padding: 2px 8px;
        line-height: 15px;
    }
    &.badge-md {
        font-size: 12px;
        padding: 3px 8px;
        line-height: 18px;
    }
    &.badge-lg {
        font-size: $font-size-14;
        padding: 3px 12px;
        line-height: 21px;
    }
    &.badge-xl {
        font-size: $font-size-16;
        padding: 0px 15px;
        line-height: 35px;
    }
    &.badge-soft-skyblue {
        background: $cyan-100;
        color: $cyan;
    }
}
.badge.arrow {
    width: 20px;
    height: 20px;
    background: $light-200;
    color: $dark;
    &:hover {
        background: $primary;
        color: $white;
    }
}
.badge.bg-light.arrow:hover {
    background: $dark !important;
}
.badge-primary-hover:hover {
    background: $primary !important;
    border-color: $primary !important;
    color: $white !important;
}
.badge-danger-hover:hover {
    background: $danger !important;
    border-color: $danger !important;
    color: $white !important;
}
.badge.badge-soft-purple {
    background: $purple-100 !important;
    color: $purple !important;
}
.badge.badge-soft-violet {
    background: $violet-transparent !important;
    color: $violet !important;
    border-color: $violet-100 !important;
}
.badge.bg-danger-transparent {
    border: 1px solid $danger-100 !important;
}
