includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9

    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    excludePaths:
        - storage/*
        - vendor/*
        - public/*

    checkUninitializedProperties: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
