.coupons-tabs {
    .nav {
        .nav-item {
            .nav-link {
                background: $white;
                color: $gray-900;
                border-block-end: 3px solid transparent;
                &.active {
                    background-color: $primary-transparent;
                    border-block-end: 3px solid $primary;
                    color: $primary;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }
}