.quotations-table {
    .avatar {
        img {
            border-radius: 10px;
        }
    }
}
.modal-dropdown {
    .dropdown .dropdown-toggle {
        height: 38px;
    }
}
.min-width-100 {
    min-width: 100px;
}