.reservation-wizard {
  ul {
    li {
      border: 1px solid $gray-200;
      border-radius: 5px;
      padding: 8px 12px;
      h6 {
        font-weight: $font-weight-medium;
        font-size: $font-size-14;
      }
      .wizard-icon { 
        line-height: normal;
      }
      &.active {
        background: $secondary-transparent;
        border-color: $secondary-100;
        color: $secondary;
        h6 {
          color: $secondary;
        }
      }
      .active-check {
        width: 14px;
        height: 14px;
        background: $success;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        display: none;
        border-radius: 50%;
        font-size: $font-size-11;
      }
      &.activated {
        background: $dark;
        h6 {
          color: $white;
        }
        .active-check { 
          display: flex;
        }
        .wizard-icon {
          display: none;
        }
      }
    }
  }
}
.card-bg {
  background: #fff url(../../assets/img/bg/card-bg.png) no-repeat;
  background-size: cover;
}
.wizard-form {
  fieldset {
    display: none;
    &#first-field {
      display: block;
    }
  }
}

.custom-checkbox {
  border: 1px solid $gray-200;
  padding: 16px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 16px;
  span {
      color: $gray-600;
      &.service-title {
          color: $gray-900;
      }
  }
  &.active {
      border-color: $success;
  }
  &.radio-select {
      input {
         display: none;
      }
  }
  input {
      position: absolute;
      left: 38px;
      top: 50%;
      transform: translateY(-50%);
  }
  &.active {
      input {
          opacity: 1;
      }
  }
}
.custom-nav-tabs {
  .nav-item {
    .nav-link {
      background: $secondary-transparent;
      border-color: $secondary-100;
      color: $secondary;
      border-radius: 5px;
      &.active {
        background: $dark;
        color: $white;
        border-color: $dark;
        border-radius: 5px;
      }
    }
  }
}
.car-select {
  max-height: 280px;
  overflow-y: auto;
  padding-right: 4px;
}